@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --transparente: rgb(0, 0, 0, 0);
    --titulos: rgb(245, 247, 250);
    --fondoetiquetas: rgb(255, 255, 255);
    --fondos: rgb(30, 30, 47, .9);
    --subtitulos: rgb(197, 224, 235);
    --bordes: rgb(173, 181, 189);
    --fondo: rgb(35, 45, 55);
    --fondotransparentoso: rgba(35, 45, 55, 0.493);
    --sombratitulos: 0px 0px 20px #000000;
    --sombrapronunciada: 0px 0px 500px #000000;
    --sombrabotones: 0px 0px 20px #0000007c;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-image: url(imagenes/indexsesion.jpeg);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.nav-pres {
    color: var(--titulos);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #000000bb 0%, var(--transparente) 100%);
    padding: 0px 20px;
}

.links-pres {
    transition: 0.5s;
    text-decoration: none;
    color: var(--titulos);
    padding: 0px 5px;
}

.links-pres:hover {
    transition: 0.5s;
    font-weight: bolder;
    font-size: large;
}

.usuario {
    color: var(--titulos);
    font-weight: bold;
    font-size: 30px;
    text-shadow: var(--sombratitulos);
}

.section-etiquetas-sesion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo);
    padding: 20px 100px 20px 100px;
    gap: 20px;
    height: auto;
    margin: 20px 0px 20px 0px;
    flex-wrap: wrap;
}

.contenedor-etiqueta {
    display: flex;
    flex-direction: column;
    align-self: stretch; /* coloca a todas las etiquetas del mismo tama침o independientemente de su contenido */
    flex-grow: 1;  /* para el ancho igual: Flex-grow con un valor de 1 */
    flex-basis: 0; /* asegura que inicialmente no tomen m치s espacio del necesario antes de repartirse */
}

.titulo-etiqueta {
    text-align: center; 
    cursor: default; 
    background-color: var(--titulos);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--sombrabotones);
}

.texto-etiqueta-sesion {
    color: white;
    padding: 0px 30px; 
    cursor: default;
    text-align: center;
}

.img-etiqueta {
    max-width: 100%;
    height: auto;
    box-shadow: var(--sombrabotones);
}

.enlace-etiquetas {
    transition: 0.5s;
    display: block;
    background-color: var(--subtitulos);
    width: 100%;
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
    padding: 12px 0;
}

.enlace-etiquetas:hover {
    transition: 0.5s;
    background-color: blueviolet;
    color: rgb(197, 224, 235);
    box-shadow: var(--sombrabotones);
    font-weight: bold;
    letter-spacing: 1px;    
}

.pie {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
    text-align: center;
    align-items: center;
    padding: 20px;
    box-shadow: var(--sombrapronunciada);
}

.texto-pie {
    color: var(--subtitulos);
}

.etiqueta {
    display: flex;
    flex-direction: column;
    align-self: stretch; /* coloca a todas las etiquetas del mismo tama침o independientemente de su contenido */
    flex-grow: 1;  /* para el ancho igual: Flex-grow con un valor de 1 */
    flex-basis: 0; /* asegura que inicialmente no tomen m치s espacio del necesario antes de repartirse */
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

.enlace-pie {
    color: var(--subtitulos);
    text-decoration: none;
    transition: 0.5s;
}

.enlace-pie:hover {
    transition: 0.5s;
    font-weight: bold;
}

.dato {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.inputs-text {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000000;
}


/* -- ELEMENTOS DE BOOTSTRAP -- */


.modal {
  display: none;
  position: fixed;
  z-index: 1055;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
}

.modal.show {
  display: block;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translateY(-20px);
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.modal-dialog {
  max-width: 500px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 0px 10px 0px;
}

.modal-header {
    padding: 0px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.2rem;
  opacity: .7;
  cursor: pointer;
}
.btn-close:hover {
  opacity: 1;
}

.modal-body {
    display: flex;
    flex-direction: column;
  padding: 0px 20px 0px 20px;
  gap: 10px;
}

.modal-footer {
    justify-content: center;

  padding: .75rem;
  display: flex;
  gap: .5rem;
}

.modal-title {
    font-size: 30px;
    padding: 0px;
}

.btn-success {
  background-color: #198754;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

.btn-success:hover {
  background-color: #157347;
}

.btn-success:active {
  background-color: #146c43;
  box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .4);
}

.btn-success:focus {
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .5);
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-primary:active {
  background-color: #0a58ca;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .4);
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .5);
}

@media screen and (max-width:900px) {
    .texto-etiqueta-sesion {
        text-align: justify;
        padding: 0px;
    }
}

@media screen and (max-width:700px) {
    .texto-etiqueta-sesion {
        text-align: justify;
        padding: 0px;
    }

    .section-etiquetas-sesion {
        flex-direction: column;
    }
}

@media screen and (max-width:500px) {
    .nav-pres {
        flex-direction: column;
    }
}