@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main-is {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/iniciarsesion.jpg);
    background-size: cover;
    min-height: 100vh;
}

.div-is {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 20px #000000;
    padding: 50px;
    border-radius: 10px;
}

.enlaces-is {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.is {
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: rgb(197, 224, 235);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.is:hover {
    transition: 0.5s;
    background-color: blueviolet;
    color: rgb(197, 224, 235);
    box-shadow: var(--sombrabotones);
    font-weight: bold;
    letter-spacing: 1px;
}

.datos-is {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs-text {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000000;
}

.dato {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.enlace {
    transition: 0.5s;
    font-size: 12px;
    text-decoration: none;
}

.enlace:hover {
    transition: 0.5s;
    font-weight: bold;
}

.titulo-retorno {
    transition: 0.5s;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}

.titulo-retorno:hover {
    transition: 0.5s;
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}