@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --transparente: rgb(0, 0, 0, 0);
    --titulos: rgb(245, 247, 250);
    --fondoetiquetas: rgb(255, 255, 255);
    --fondos: rgb(30, 30, 47, .9);
    --subtitulos: rgb(197, 224, 235);
    --bordes: rgb(173, 181, 189);
    --fondo: rgb(35, 45, 55);
    --fondotransparentoso: rgba(35, 45, 55, 0.493);
    --sombratitulos: 0px 0px 20px #000000;
    --sombraperfil: 0px 0px 20px #0000007e;
    --sombrapronunciada: 0px 0px 500px #000000;
    --sombrabotones: 0px 0px 20px #0000007c;

    --fondomensajeindi: rgba(0, 255, 255, 0.248);
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--fondo);
}

.link-menu {
    transition: 0.5s;
    color: var(--titulos);
    font-size: 25px;
    text-decoration: none;
    font-weight: bolder;
}

.link-menu:hover {
    transition: 0.5s;
    font-weight: bolder;
    font-size: 26px;
}

.nav-pres {
    color: var(--titulos);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #000000bb 0%, var(--fondo) 100%);
    padding: 20px 20px;
}

.links-pres {
    transition: 0.5s;
    text-decoration: none;
    color: var(--titulos);
    padding: 0px 5px;
}

.links-pres:hover {
    transition: 0.5s;
    font-weight: bolder;
    font-size: large;
}

/*--- MENSAJES ---*/

main {
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.bx-message-add {
    transition: 0.5s;
    background-color: rgb(0, 255, 0);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--sombrabotones);
}

.bx-message-add:hover {
    transition: 0.5s;
    font-size: 25px;
}

.bx-archive {
    transition: 0.5s;
    background-color: rgb(116, 116, 255);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--sombrabotones);
}

.bx-archive:hover {
    transition: 0.5s;
    font-size: 25px;
}

.bx-trash {
    transition: 0.5s;
    background-color: rgb(255, 65, 65);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--sombrabotones);
}

.bx-trash:hover {
    transition: 0.5s;
    font-size: 25px;
}

.opciones-mensajes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contenedores-mensajes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0px 20px 0px;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /* evita que los hijos se salgan */
}

.contenedor-buzon,
.contenedor-mensaje {
    background-color: white;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    height: 100%; /* se ajustan al alto del padre */
    display: flex;
    flex-direction: column; /* permite usar flex internamente */
}



.contenedor-tablamensajes {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* fuerza columnas iguales */
}

tr {
    transition: 0.2s;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

tr:hover {
    transition: 0.2s;
    background-color: var(--fondomensajeindi);
    border-radius: 10px;
}

td {
    width: 33.33%; /* tres columnas iguales */
    text-align: center;
    white-space: nowrap; /* evita el salto de línea */
    overflow: hidden; /* oculta el texto que se desborda */
    text-overflow: ellipsis; /* muestra los “...” */
}

.cambiar-mensaje {
    text-decoration: none;
}

.imagen-perfilcorreo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contenedor-mensaje {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.header-mensaje {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 10px;
}

.texto-mensaje {
    display: flex;
    flex: 3;
    overflow-y: auto;
}

.archivo-mensaje {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/*--- footer ---*/

.pie {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.164);
}

.enlace-pie {
    color: var(--subtitulos);
    text-decoration: none;
    transition: 0.5s;
}

.enlace-pie:hover {
    transition: 0.5s;
    font-weight: bold;
}

.texto-pie {
    color: var(--subtitulos);
}

/* -- ELEMENTOS DE BOOTSTRAP -- */

.modal {
  display: none;
  position: fixed;
  z-index: 1055;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
}

.modal.show {
  display: block;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translateY(-20px);
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.modal-dialog {
  max-width: 500px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.modal-header {
    padding: 0px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.2rem;
  opacity: .7;
  cursor: pointer;
}
.btn-close:hover {
  opacity: 1;
}

.modal-body {
    display: flex;
    flex-direction: column;
  padding: 0px 20px 0px 20px;
  gap: 10px;
}

.modal-footer {
    justify-content: center;

  padding: .75rem;
  display: flex;
  gap: .5rem;
}

.modal-title {
    font-size: 30px;
    padding: 20px 0px 20px 0px;
    font-weight: bolder;
}

.btn-success {
  background-color: #198754;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

.btn-success:hover {
  background-color: #157347;
}

.btn-success:active {
  background-color: #146c43;
  box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .4);
}

.btn-success:focus {
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .5);
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-primary:active {
  background-color: #0a58ca;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .4);
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .5);
}

.mensaje-a-enviar {
    word-break: break-all;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 100px;
    width: 100%;
    resize: none;
}

.combobox-amigos {
    padding: 3px 0px 3px 0px;
}

@media screen and (max-width:900px) {
    #pp-mensaje {
        display: none;
    }
}