@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --transparente: rgb(0, 0, 0, 0);
    --titulos: rgb(245, 247, 250);
    --fondoetiquetas: rgb(255, 255, 255);
    --fondos: rgb(30, 30, 47, .9);
    --subtitulos: rgb(197, 224, 235);
    --bordes: rgb(173, 181, 189);
    --fondo: rgb(35, 45, 55);
    --fondotransparentoso: rgba(35, 45, 55, 0.493);
    --sombratitulos: 0px 0px 20px #000000;
    --sombraperfil: 0px 0px 20px #0000007e;
    --sombrapronunciada: 0px 0px 500px #000000;
    --sombrabotones: 0px 0px 20px #0000007c;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--fondo);
}

.link-menu {
    transition: 0.5s;
    color: var(--titulos);
    font-size: 25px;
    text-decoration: none;
    font-weight: bolder;
}

.link-menu:hover {
    transition: 0.5s;
    font-weight: bolder;
    font-size: 26px;
}

.nav-pres {
    color: var(--titulos);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #000000bb 0%, rgba(0, 255, 255, 0.164) 100%);
    padding: 20px 20px;
}

.links-pres {
    transition: 0.5s;
    text-decoration: none;
    color: var(--titulos);
    padding: 0px 5px;
}

.links-pres:hover {
    transition: 0.5s;
    font-weight: bolder;
    font-size: large;
}

/* --- PERFIL --- */

.section-perfil {
    min-height: 60vh;
    background-color: rgba(0, 255, 255, 0.164);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 2px solid var(--titulos);
}

.usuario-perfil {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.img-perfil {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: var(--sombraperfil);
}

.datos-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.opciones-perfil {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.opcion-perfil {
    transition: 0.5s;
    text-decoration: none;
    color: var(--titulos);
}

.opcion-perfil:hover {
    transition: 0.5s;
    font-weight: 600;
    font-size: 17px;
}

/*--- AMIGOS ---*/

.section-amigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

table {
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.img-amigo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: var(--sombraperfil);
}

.btn-eliminaramigo {
    text-align: center;
    align-items: center;
    background-color: red;
    padding: 5px;
    font-size: 30px;
    border-radius: 40%;
}

.bx-user-x {
    transition: 0.5s;
    color: white;
    background-color: red; 
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--sombraperfil);
}

.bx-user-x:hover {
    transition: 0.5s;
    font-size: 25px;
}

/*-- PIE -- */

.pie {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.164);
}

.enlace-pie {
    color: var(--subtitulos);
    text-decoration: none;
    transition: 0.5s;
}

.enlace-pie:hover {
    transition: 0.5s;
    font-weight: bold;
}

.texto-pie {
    color: var(--subtitulos);
}

/*-- ventana MODAL --*/

.modal {
  display: none;
  position: fixed;
  z-index: 1055;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
  text-align: center;
}

.modal.show {
  display: block;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translateY(-20px);
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.modal-dialog {
  max-width: 500px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 0px 10px 0px;
}

.modal-header {
    padding: 0px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.2rem;
  opacity: .7;
  cursor: pointer;
}
.btn-close:hover {
  opacity: 1;
}

.modal-body {
    display: flex;
    flex-direction: column;
  padding: 0px 20px 0px 20px;
  gap: 10px;
}

.modal-footer {
    justify-content: center;

  padding: .75rem;
  display: flex;
  gap: .5rem;
}

.modal-title {
    font-size: 30px;
    padding: 0px;
}

.btn-success {
  background-color: #198754;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

.btn-success:hover {
  background-color: #157347;
}

.btn-success:active {
  background-color: #146c43;
  box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .4);
}

.btn-success:focus {
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .5);
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-primary:active {
  background-color: #0a58ca;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .4);
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .5);
}

@media screen and (max-width:700px) {
    .opciones-perfil {
        flex-direction: column;
        text-align: center;
    }

    .img-perfil {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:500px) {
    .nav-pres {
        flex-direction: column;
        gap: 10px;
    }
}